.gallery img{
     width: 100%
}

h2{
    font-family: impact, fantasy;
    text-align: center;
    font-size: 30px;
    color: maroon;
}

h4{
    font-family: impact, fantasy;
    font-size: 20px;
    color: maroon
}

p{
    font-family: helvetica,sans-serif;
}

#menu{
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    padding-top: 12px;
        
}

#menu a{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
        
}

#menu a:hover{
    color: #5077bd;
}

table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
}

#men{
    width: 100%;
    height: 40px;
    background-color: green;
    padding-top: 12px;
        
}

#men a{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
        
}

#men a:hover{
    color: yellowgreen;
}

